.header {
    background: #000000;
}

.header__inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    /* max-width: 1230px; */
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    display:flex;
    align-items: center;
    padding-right: 30px;
}

.header-nav__link {
    color: #082ff3;
    text-decoration: none;

}